<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br/>
    <br/>
    <form action="" method="post">
    <input type="text" name="word" placeholder="Input the word here">
    <button type="submit">Convert to JSON</button>
    </form>
  </body>
</html>
